<div class="form">
  <div class= "form-container">
    <h2>Create An Account</h2>
    <h3>Come Join Us, Expand Your Brand!!!</h3>
    <div class="form-inputs">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="form-names">
            <div class="form-name1">
              <%= f.input :name,
                        required: true, placeholder: "Name", label: false %>
            </div>
            <div class="form-name2">
              <%= f.input :nickname, placeholder: "Nickname", label: false  %>
            </div>
          </div>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }, placeholder: "Email", label: false %>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" },  placeholder: "Password", label: false  %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" }, placeholder: "Password Confirmation", label: false  %>
          <h3>Complete Your Profile</h3>
          <%= f.input :description, placeholder: "Add Your Biography", label: false,:input_html => {:rows => 5}  %>
          <div class="form-names">
            <div class="form-name1">
              <%= f.check_box :seller,
                          required: true %>
              <%= f.label "Become A Seller" %>
            </div>
            <div class="form-name20">
              <label class="btn-singup-photo">
                Upload new image
                <span style="display:none;">
                  <%= f.file_field :photo%>
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "REGISTER", class: "btn-singup-form" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="form-img">
  </div>
</div>
