<div class="shop">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: "shop-user-img" %>
  <% end %>
  <div class="shop-user-info">
    <h1><%= @user.nickname %></h1>
    <p><%= @user.description %></p>
  </div>
</div>
<br>
<div class="showusers">
  <% @campaigns.each do |campaign| %>
    <div class="title-box">
      <h2><%= campaign.name.upcase %> :</h2>
      <div class="btn-user-box">
        <button type="button" class="btn-dashboard" ><%= link_to "See campaign", campaign_campaign_products_path(campaign) %></button>
      </div>
      <p>Duration: <strong><%= campaign.duration_days %> </strong>days</p>
    </div>
    <div class="products">
      <% campaign.products.each do |product| %>
        <div class="product">
          <div class="product-image">
            <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
          </div>
          <div class="product-info">
            <div class="product-price-name">
              <p><%= product.name.upcase %> </p>
              <p><strong><%= product.price %> €</strong> </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
