<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand" do%>
    <img src="https://res.cloudinary.com/dxlitvtog/image/upload/v1638262109/LogoMakr-3S0Tmi_zzicae.png" alt="logo" class="logo">
  <% end  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if user_signed_in? %>
    <% if current_user.seller %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Artists", users_path, class: "nav-link" %>
          </li>
          </div>
          <div class="box">
          <li class="nav-item active">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
          </div>
          <div class="box">
          <li class="nav-item active">
            <%= link_to "About us", about_path, class: "nav-link" %>
          </li>
          </div>
        </ul>
      </div>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link filippo" %>
        <%= link_to "", cart_path, class: "nav-link fas fa-shopping-cart" %>
    <% else %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Artists", users_path, class: "nav-link" %>
          </li>
          </div>
          <div class="box">
          <li class="nav-item active">
            <%= link_to "About us", about_path, class: "nav-link" %>
          </li>
          </div>
          <div class="box">
          <li class="nav-item active">
            <%= link_to "Become a Seller", edit_user_registration_path(current_user) , class: "nav-link" %>
          </li>
          </div>
        </ul>
      </div>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link-out" %>
        <%= link_to "", cart_path, class: "nav-link fas fa-shopping-cart" %>
    <% end %>
  <% else %>
    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
      <%= link_to "Login", user_session_path, class: "nav-link" %>
  <% end %>
</nav>
