<div class="container">
  <div class="row py-4">
    <div class="col-md-3">ORDER_ITEMS ITERATE FOR CONFIRMATION PAGE</div>
    <div class="col">
      <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.status %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        </li>
      </ul>
      <p>Estimated delivery of the following items in <strong>2 Filippo's business days</strong></p>
    </div>

     <% @order.order_items.each do |ord_item|%>
           <div>
        <div>
            <h4><%= ord_item.product.name %></h4>
             <p>- Quantity = <%= ord_item.quantity %></p>
            <p>- Price = </h3><%= ord_item.product.price %></p>
            <p>- Size = </h3><%= ord_item.size %></p>
            <%= cl_image_tag ord_item.product.photo.key, class: "card-dash-img" %>
         </div>
      </div>
    <% end %>
  </div>
</div>
