<div>
<div class="containe">
  <div class="row py-4">
    <div class="col-md-3"></div>
    <div class="col">
      <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.status %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>CREATED ON</strong> <%= @order.created_at.to_date %></li>
        </li>
      </ul>
      <p>Estimated delivery of the following items in <strong>2 Filippo's business days</strong></p>
    </div>
</div>

<% suma = 0 %>
<div class="small-container order-page">
    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
        <% @order.order_items.each do |order_item| %>
      <tr>
          <td>
            <div class="cart-info">
              <%= cl_image_tag order_item.product.photo.key %>
              <div>
                <p><%= order_item.product.name %></p>
                <small>Price: <%= order_item.product.price %> €</small>
              </div>
            </div>
          </td>
          <td class="quantity"><%= order_item.quantity %></td>
          <td><%= order_item.value %> €</td>
          <% suma += order_item.value %>
      </tr>
        <% end %>
    </table>

    <div class="total-price">
      <table>
        <tr>
          <td><strong>TOTAL:</strong></td>
          <td class="sum-prices"><%= suma.round(2) %> € </td>
        </tr>
        <tr>
        <td></td>
          <td>

          </td>
        </tr>
      </table>
    </div>
</div>
