<div class="dashboard">
  <div class="user-box">
    <h2>Hi <%= @user.name %>!</h2>
    <p><%= link_to "Edit Your Profile", edit_user_registration_path(@user) %></p>
    <div class="products-count">
      <h3>Number of Products</h3>
      <h3><strong><%= @products.count %></strong></h3>
    </div>
    <div class="products-count">
      <h3>Number of Campaigns</h3>
      <h3><strong><%= @campaigns.count %></strong></h3>
    </div>
    <div class="products-count-border">
      <h3>Orders</h3>
      <h3><strong><%= @user_order_items.count %></strong></h3>
    </div>
    <div class="products-count-ben1">
      <h2><%= @sales.round(2) %> €</h2>
      <h3>Sales</h3>
    </div>
    <% ben = 0  %>
    <% @campaigns.each do |campaign| %>
      <% ben += campaign.benefits %>
    <% end %>
    <div class="products-count-ben2">
      <h1><strong><%= ben.round(2) %></strong> €</h1>
      <h3>Benefits</h3>
    </div>
    <div class="btn-user-box text-center">
      <button type="button" class="btn-dashboard-new-secondary" ><%= link_to "ADD A PRODUCT", new_product_path(@user) %></button>
    </div>
    <div class="btn-user-box text-center">
      <button type="button" class="btn-dashboard-new-secondary" ><%= link_to "ADD A CAMPAIGN", new_campaign_path(@user) %></button>
    </div>
    <div class="btn-user-box text-center">
      <button type="button" class="btn-dashboard-new" ><%= link_to "YOUR STORE", user_path(@user) %></button>
    </div>
  </div>

  <div class="dash">
    <div class="title-box">
      <h1>My Products</h1>
      <div class="btn-user-box side">
        <button type="button" class="btn-dashboard-new-secondary" ><%= link_to "ALL PRODUCTS", products_path %></button>
      </div>
    </div>
    <br>
    <div class="products">
      <% @products.each do |product| %>
        <div class="product">
          <div class="product-image">
            <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
          </div>
          <div class="product-info">
            <div class="product-price-name">
              <p><%= product.name.upcase %> </p>
              <p><strong><%= product.price %> €</strong> </p>
            </div>
            <div class="btn-user-box">
              <button type="button" class="btn-dashboard" ><%= link_to "EDIT", edit_product_path(product) %></button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <div class="title-box">
      <h1>My Campaigns</h1>
      <div class="tab-customize">
        <button class="tablinks-cus btn-dashboard-new-secondary" onclick="openTab(event, 'tab-1')" id="tab-cus-active" >ACTIVE</button>
        <button class="tablinks-cus btn-dashboard-new-secondary" onclick="openTab(event, 'tab-2')">INACTIVE</button>
        <button class="tablinks-cus btn-dashboard-new-secondary" onclick="openTab(event, 'tab-3')">FINISHED</button>
      </div>
    </div>

    <br>
    <br>
    <div id="tab-1" class="tabcontent-cus campaigns ">
      <% @activecamp.each do |campaign| %>
      <% sales = 0 %>
      <% campaign.order_items.where(status: "paid").each do |ord| %>
      <% sales += ord.value %>
      <% end %>
        <div class="campaign">
          <div class="campaign-top">
            <h2><%= campaign.name %></h2>
            <p><strong><%= campaign.duration_days %> </strong>days left</p>
          </div>
          <div class="campaign-bottom">
            <div class="campaign-images">
              <% campaign.products.each do |product| %>
                <div class="campaign-image">
                  <div class="product-image">
                    <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="campaign-info">
              <div class="products-count">
              <h3>State</h3>
              <h3><strong><%= campaign.state.upcase %></strong></h3>
            </div>
              <div class="products-count">
                <h3>Orders</h3>
                <h3><strong><%= campaign.order_items.where(status: "paid").count %></strong></h3>
              </div>
              <div class="products-count">
                <h3>Sales</h3>
                <h3><strong><%= sales.round(2) %></strong> €</h3>
              </div>
              <div class="btn-user-box" >
                <button type="button" class="btn-dashboard-new" ><%= link_to "SEE MORE", campaign_path(campaign) %></button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div id="tab-2" class="tabcontent-cus campaigns ">
      <% @inactivecamp.each do |campaign| %>

        <div class="campaign">
          <div class="campaign-top">
            <h2><%= campaign.name %></h2>
            <p>Duration: <strong><%= campaign.duration_days %> </strong>days</p>
          </div>
          <div class="campaign-bottom">
            <div class="campaign-images">
              <% campaign.products.each do |product| %>
                <div class="campaign-image">
                  <div class="product-image">
                    <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="campaign-info">
              <div class="products-count">
                <h3>State</h3>
                <h3><strong><%= campaign.state.upcase %></strong></h3>
              </div>
              <div class="products-count">
                <h3>Products</h3>
                <h3><strong><%= campaign.products.count %></strong></h3>
              </div>
              <div class="products-count">
                <h3>Duration</h3>
                <h3><strong><%= campaign.duration_days %></strong> Days</h3>
              </div>
              <div class="btn-user-box">
                <button type="button" class="btn-dashboard-new" ><%= link_to "SEE MORE", campaign_path(campaign) %></button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div id="tab-3" class="tabcontent-cus campaigns ">
      <% @finishedcamp.each do |campaign| %>
      <% sales = 0 %>
      <% campaign.order_items.where(status: "paid").each do |ord| %>
      <% sales += ord.value %>
      <% end %>
        <div class="campaign">
          <div class="campaign-top">
            <h2><%= campaign.name %></h2>
          </div>
          <div class="campaign-bottom">
            <div class="campaign-images">
              <% campaign.products.each do |product| %>
                <div class="campaign-image">
                  <div class="product-image">
                    <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="campaign-info">
              <div class="products-count">
                <h3>State</h3>
                <h3><strong><%= campaign.state.upcase %></strong></h3>
              </div>
              <div class="products-count">
                <h3>Sales</h3>
                <h3><strong><%= sales.round(2) %></strong> €</h3>
              </div>
              <div class="products-count">
                <h3>Benefits</h3>
                <h3><strong><%= campaign.benefits.round(2) %></strong> €</h3>
              </div>
              <div class="btn-user-box">
                <button type="button" class="btn-dashboard-new" ><%= link_to "SEE MORE", campaign_path(campaign) %></button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
function openTab(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent-cus");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks-cus");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("tab-cus-active").click();


</script>
