<div class="dashboard">
  <div class="user-box">
    <h1>Hi, <%= @user.name %></h1>
    <p><%= link_to "Edit profile", edit_user_registration_path(@user) %></p>
    <h1><%= @products.count %></h1>
    <p>N. Products</p>
    <h1><%= @campaigns.count %></h1>
    <p>N. Campaigns</p>
    <h1><%= @user_order_items.count %></h1>
    <p>Orders this month</p>
    <h1><%= @sales.round(2) %> €</h1>
    <p>Sales this month</p>
    <br>
    <div class="btn-user-box text-center">
          <button type="button" class="btn-dashboard" ><%= link_to "Add a product", new_product_path(@user) %></button>
    </div>
    <br>
    <div class="btn-user-box text-center">
          <button type="button" class="btn-dashboard" ><%= link_to "Add a campaign", new_campaign_path(@user) %></button>
    </div>
    <div class="btn-user-box text-center">
          <button type="button" class="btn-dashboard" ><%= link_to "My shop", user_path(@user) %></button>
    </div>
  </div>
  <div class="dash">
    <div class="title-box">
      <h1>- My Products:</h1>
      <div class="btn-user-box">
        <button type="button" class="btn-dashboard" ><%= link_to "All", products_path %></button>
      </div>
    </div>
    <div class="products">
      <% @products.each do |product| %>
        <div class="product">
          <div class="product-image">
            <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
          </div>
          <div class="product-info">
            <div class="product-price-name">
              <p><%= product.name.upcase %> </p>
              <p><strong><%= product.price %> €</strong> </p>
            </div>
            <div class="btn-user-box">
              <button type="button" class="btn-dashboard" ><%= link_to "Edit", edit_product_path(product) %></button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <h1>- My Campaigns:</h1>
    <br>
    <h2>Active:</h2>
    <div class="campaigns">
      <% @activecamp.each do |campaign| %>
      <% orders = 0 %>
      <% sales = 0 %>
        <div class="campaign">
          <div class="campaign-top">
            <h4><%= campaign.name.upcase %></h4>
            <p>Duration: <strong><%= campaign.duration_days %> </strong>days</p>
          </div>
          <div class="campaign-bottom">
            <div class="campaign-images">
              <% campaign.products.each do |product| %>
                <% orders += product.order_items.where(campaign: campaign).count %>
                <% product.order_items.where(campaign: campaign).each do |ord| %>
                  <% sales += ord.value %>
                <% end %>
                <div class="campaign-image">
                  <div class="product-image">
                    <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="campaign-info">
              <h4><%= orders %></h4>
              <p>orders</p>
              <h4><%= sales.round(2) %> €</h4>
              <p>sales</p>
              <h4>324 €</h4>
              <p>benefits</p>
              <div class="btn-user-box">
                <button type="button" class="btn-dashboard" ><%= link_to "See more", campaign_path(campaign) %></button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <h2>Inactive:</h2>
    <div class="campaigns">
      <% @inactivecamp.each do |campaign| %>

        <div class="campaign">
          <div class="campaign-top">
            <h4><%= campaign.name.upcase %></h4>
            <p>Duration: <strong><%= campaign.duration_days %> </strong>days</p>
          </div>
          <div class="campaign-bottom">
            <div class="campaign-images">
              <% campaign.products.each do |product| %>
                <div class="campaign-image">
                  <div class="product-image">
                    <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="campaign-info">
              <h4>0</h4>
              <p>orders</p>
              <h4>0</h4>
              <p>sales</p>
              <h4>0</h4>
              <p>benefits</p>
              <div class="btn-user-box">
                <button type="button" class="btn-dashboard" ><%= link_to "See more", campaign_path(campaign) %></button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
