<div class='product-show-box'>
  <div class='izq'>
    <%= cl_image_tag @product.photo.key %>
  </div>
  <div class='der'>
    <%= simple_form_for [@order, @order_item] do |f| %>
      <%= f.input :product, input_html: {value: @campaign_product.product.name, disabled: true} %>
      <%= f.input :price, input_html: {value: @campaign_product.product.price, disabled: true} %>
      <%= f.input :product_id, input_html: {value: @campaign_product.product.id, hidden: true }, label: false %>
      <%= f.input :campaign_id, input_html: {value: @campaign_product.campaign.id, hidden: true }, label: false %>
      <%= f.input :order_id, input_html: {value: @order.id, hidden: true }, label: false %>
      <%= f.input :quantity, collection: (1..100) %>
      <%= f.input :size, collection: %w[S M L]%>
      <%= f.button :submit, "ADD TO CART", class: "btn-singup-form", style: "width:100%;"%>
    <% end %>
  </div>
</div>
