<% suma = 0 %>
<div class="small-container cart-page">
    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
        <% @order.order_items.each do |order_item| %>
      <tr>
          <td>
            <div class="cart-info">
              <%= cl_image_tag order_item.product.photo.key %>
              <div>
                <p><%= order_item.product.name %></p>
                <small>Price: <%= order_item.product.price %> €</small>
              </div>
            </div>
          </td>
          <td class="quantity"><%= order_item.quantity %></td>
          <td><%= order_item.value %> €</td>
          <% suma += order_item.value %>
      </tr>
  <% end %>
    </table>

    <div class="total-price">
      <table>
        <tr>
          <td><strong>TOTAL:</strong></td>
          <td class="sum-prices"><%= suma.round(2) %> € </td>
        </tr>
        <tr>
        <td></td>
          <td>
          </td>
        </tr>
      </table>

    </div>
    <div >
 <button id="pay" class="btn btn-primary" style="float: right;">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
      </div>
</div>
