<div class="dashboard">
  <% if @campaign.state == "inactive" %>
    <div class="camp-left">
      <h2>Campaign Products</h2>
      <div class="products wrap">
          <% @campaign.products.each do |product| %>
            <div class="product1">
              <div class="product-image">
                <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
              </div>
              <div class="product-info">
                <div class="product-price-name">
                  <p><%= product.name.upcase %> </p>
                  <p><strong><%= product.price %> €</strong> </p>
                </div>
                <div class="btn-user-box">
                  <button type="button" class="btn-dashboard-secondary" ><%= link_to "Edit", edit_product_path(product) %></button>
                  <button type="button" class="btn-dashboard"><%= link_to 'Delete', campaign_product_path(product), method: :delete, data: {confirm: "Are you sure?"} %></button>
                </div>
              </div>
            </div>
          <% end %>
      </div>
      <h2>Add Products</h2>
      <div class="products wrap">
        <% @products.each do |product| %>
          <div class="product1">
            <div class="product-image">
              <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
            </div>
            <div class="product-info">
              <div class="product-price-name">
                <p><%= product.name.upcase %> </p>
                <p><strong><%= product.price %> €</strong> </p>
              </div>
              <div class="btn-user-box">
                <%= simple_form_for([@campaign, @campaign_product]) do |f| %>
                  <div style="display:none;">
                  <%= f.input :product_id, input_html: { value: product.id, hidden: true  }%>
                  </div>
                  <%= f.submit "Add product", class: "btn-dashboard"%>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="user-box">
            <h2><%=@campaign.name%></h2>
            <div class="products-count">
              <h3>State</h3>
              <h3><strong><%= @campaign.state.upcase %></strong></h3>
            </div>
            <div class="products-count">
              <h3>Number of Products</h3>
              <h3><strong><%= @campaign.products.count %></strong></h3>
            </div>
            <div class="products-count-border">
              <h3>Duration</h3>
              <h3><strong><%= @campaign.duration_days %></strong> Days</h3>
            </div>
            <%= form_tag edit_campaign_path(@campaign), method: :get, class: "" do %>
              <%= submit_tag "EDIT CAMPAIGN", class: "btn-dashboard-new-secondary"  %>
            <% end %>
            <%= form_tag start_campaign_path(@campaign), method: :patch, class: "" do %>
              <%= submit_tag "START CAMPAIGN", class: "btn-dashboard-new"  %>
            <% end %>
    </div>
  <% elsif @campaign.state == "active" || "finished" %>
    <% campaignbenefits = 0  %>
    <div class="camp-left">
      <h2>Campaign Products</h2>
      <br>
      <table>
        <tr>
          <th>Product</th>
          <th>Cost / Unit</th>
          <th>Total Quantity</th>
          <th>Sales</th>
        </tr>
        <% @campaign.products.each do |product| %>
          <% productsales = 0  %>
          <% productquantity = 0  %>
          <% @campaign.order_items.where(status: "paid", product: product).each do |order_item| %>
            <% productsales += order_item.value %>
            <% productquantity += order_item.quantity %>
          <% end  %>
          <% if product.garment == "t-shirt" %>
            <% if productquantity < 11 %>
              <% productbenefits = productsales - (productquantity * 15) %>
              <% cost = 15 %>
            <% elsif  productquantity < 26 %>
              <% productbenefits = productsales - (productquantity * 12) %>
              <% cost = 12 %>
            <% elsif productquantity < 101 %>
              <% productbenefits = productsales - (productquantity * 10) %>
              <% cost = 10 %>
            <% else %>
              <% productbenefits = productsales - (productquantity * 7) %>
              <% cost = 7 %>
            <% end  %>
          <% elsif product.garment == "hoodie" %>
            <% if productquantity < 11 %>
              <% productbenefits = productsales - (productquantity * 20) %>
              <% cost = 20 %>
            <% elsif  productquantity < 26 %>
              <% productbenefits = productsales - (productquantity * 18) %>
              <% cost = 18 %>
            <% elsif productquantity < 101 %>
              <% productbenefits = productsales - (productquantity * 15) %>
              <% cost = 15 %>
            <% else %>
              <% productbenefits = productsales - (productquantity * 12) %>
              <% cost = 12 %>
            <% end  %>
          <% elsif product.garment == "long-sleeve" %>
            <% if productquantity < 11 %>
              <% productbenefits = productsales - (productquantity * 17) %>
              <% cost = 17 %>
            <% elsif  productquantity < 26 %>
              <% productbenefits = productsales - (productquantity * 14) %>
              <% cost = 14 %>
            <% elsif productquantity < 101 %>
              <% productbenefits = productsales - (productquantity * 12) %>
              <% cost = 12 %>
            <% else %>
              <% productbenefits = productsales - (productquantity * 9) %>
              <% cost = 9 %>
            <% end  %>
          <% end %>
          <% campaignbenefits += productbenefits  %>
          <tr>
            <td>
              <div class="cart-info">
                <%= cl_image_tag product.photo.key %>
                <div>
                  <h4><%= product.name %></h4>
                  <small>Price: <%= product.price.round(2) %> €</small>
                </div>
              </div>
            </td>
            <td><%= cost %> <small>€/u</small></td>
            <td><%= productquantity.round(2) %><small> Units</small></td>
            <td><%= productsales.round(2) %><small> €</small></td>
          </tr>
        <% end %>
      </table>
      <br>
      <h2>Orders</h2>
      <br>
      <div>
        <table>
          <tr>
            <th>Client</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Payment</th>
          </tr>
          <% sales = 0  %>
          <% @campaign.order_items.where(status: "paid").each do |order_item| %>
          <tr>
            <td><%=  order_item.order.user.name  %></td>
            <td><%= order_item.product.name %></td>
            <td><%= order_item.quantity %><small> Units</small></td>
            <td><%= order_item.value  %><small> €</small></td>
          </tr>
            <% sales += order_item.value %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="user-box">
      <h2><%=@campaign.name%></h2>
      <div class="products-count">
        <h3>State</h3>
        <h3><strong><%= @campaign.state.upcase %></strong></h3>
      </div>
      <div class="products-count">
        <h3>Number of Products</h3>
        <h3><strong><%= @campaign.products.count %></strong></h3>
      </div>
      <div class="products-count-border">
        <h3>Orders</h3>
        <h3><strong><%= @campaign.order_items.where(status: "paid").count %></strong></h3>
      </div>
      <div class="products-count-ben1">
        <h2><%= sales.round(2) %> €</h2>
        <h3>Sales</h3>
      </div>
      <div class="products-count-ben2">
        <h1><strong><%= campaignbenefits.round(2) %></strong> €</h1>
        <h3>Benefits</h3>
      </div>
      <% if @campaign.state == "active" %>
        <%= form_tag finish_campaign_path(@campaign, benefits: campaignbenefits ), method: :patch, class: "" do %>
          <%= submit_tag "FINISH CAMPAIGN", class: "btn-dashboard-new"  %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
