<div class="background-page">
  <div class="con2">
    <h1><%=@campaign.name%></h1>
      <ul>
      <b>Campaign Active? </b>
          <%=@campaign.active %>
      </ul>
    <div class="btn-user-box">
        <button type="button" class="btn-dashboard" ><%= link_to "Edit", edit_campaign_path(@campaign),method: :get %></button>
    </div>
  </div>
  <div class="products">
      <% @campaign.products.each do |product| %>
        <div class="product">
          <div class="product-image">
            <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
          </div>
          <div class="product-info">
            <div class="product-price-name">
              <p><%= product.name %> </p>
              <p>€ <%= product.price %></p>
            </div>
            <div class="btn-user-box">
              <button type="button" class="btn-dashboard" ><%= link_to "Edit", edit_product_path(product) %></button>
              <button type="button" class="btn-dashboard"><%= link_to 'Delete', campaign_product_path(product), method: :delete, data: {confirm: "Are you sure?"} %></button>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  
  <h1>Add products:</h1>
  <div class="con2">
      <ul>
        <% @products.each do |non_campaign_product| %>
          <%= cl_image_tag non_campaign_product.photo.key, class: "card-dash-img" %>
          <%=non_campaign_product.name %>
          <%= simple_form_for([@campaign, @campaign_product]) do |f| %>
            <br>
            <%= f.input :product_id, input_html: { value: non_campaign_product.id, hidden: true  } %>
            <br>
            <%= f.submit "Add product campaign", class: "btn btn-primary float-right"%>
          <% end %>
        <% end %>
      </ul>
  </div>
</div>