<div class="background-page">
  <div>
    <h1><%=@campaign.name.upcase%></h1>
    <p>Duration: <%= @campaign.duration_days %> days</p>
    <%if @campaign.active %>
      <p>State: Active</p>
    <% else %>
      <p>State: Inactive</p>
    <% end %>
    <div class="btn-user-box">
        <button type="button" class="btn-dashboard" ><%= link_to "Edit", edit_campaign_path(@campaign),method: :get %></button>
    </div>
  </div>
  <br>

  <h3>Campaign products:</h3>

  <div class="products">
      <% @campaign.products.each do |product| %>
        <div class="product">
          <div class="product-image">
            <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
          </div>
          <div class="product-info">
            <div class="product-price-name">
              <p><%= product.name %> </p>
              <p>€ <%= product.price %></p>
            </div>
            <div class="btn-user-box">
              <button type="button" class="btn-dashboard" ><%= link_to "Edit", edit_product_path(product) %></button>
              <button type="button" class="btn-dashboard"><%= link_to 'Delete', campaign_product_path(product), method: :delete, data: {confirm: "Are you sure?"} %></button>
            </div>
          </div>
        </div>
      <% end %>
  </div>

  <h3>Add products:</h3>

 <div class="products">
      <% @products.each do |product| %>
        <div class="product">
          <div class="product-image">
            <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
          </div>
          <div class="product-info">
            <div class="product-price-name">
              <p><%= product.name %> </p>
              <p>€ <%= product.price %></p>
            </div>
            <div class="btn-user-box">
              <%= simple_form_for([@campaign, @campaign_product]) do |f| %>
                <div style="display:none;">
                <%= f.input :product_id, input_html: { value: product.id, hidden: true  }%>
                </div>
                <%= f.submit "Add product", class: "btn-dashboard"%>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
