<div class="form">
<h2>Update a product</h2>
<br>
<%= simple_form_for(@product) do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <br>
  <%= f.select :garment, collection: ["T-shirt", "hoodie", "long-sleeve"] %>
  <%= f.select :color,  collection: ["white", "grey", "black", "green", "beige", "pink"] %>
  <%= f.input :photo, as: :file %>
  <%# <%= f.input :publish, as: :boolean, checked_value: true, unchecked_value: false %>
  <br>
  <%= f.submit "Save", class: "btn-dashboard"%>
<% end %>
</div>
