<div class="background-page">
  <div class="margin">
  <br>
  <div class="title-box">
      <h1>My Products</h1>
      <div class="btn-user-box side">
        <button type="button" class="btn-dashboard-new-secondary" ><%= link_to "ADD PRODUCT", new_product_path(@user) %></button>
      </div>
    </div>
  </div>
  <br>
   <div class="products wrap">
      <% @products.each do |product| %>
        <div class="product">
          <div class="product-image">
            <%= cl_image_tag product.photo.key, class: "card-dash-img" %>
          </div>
          <div class="product-info">
            <div class="product-price-name">
              <p><%= product.name.upcase %> </p>
              <p><strong><%= product.price %> €</strong> </p>
            </div>
            <div class="btn-user-box">
              <button type="button" class="btn-dashboard" ><%= link_to "EDIT", edit_product_path(product) %></button>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
